
    /* Primary: Pumpkin Yellow */
    --primary-100: #FFFEF2;
    --primary-200: #FFF3B9;
    --primary-300: #FDE080;
    --primary-400: #F7C446;
    --primary-500: #ED9F0E;
    --primary-600: #BB7105;
    --primary-700: #8A4A01;
    --primary-800: #582A00;
    --primary-900: #261000;

    /* Accent: Havasupai Falls */
    --accent-100: #F2FAFF;
    --accent-200: #BAE8FE;
    --accent-300: #80D9F9;
    --accent-400: #46C9EC;
    --accent-500: #11B4D1;
    --accent-600: #0698A6;
    --accent-700: #01787C;
    --accent-800: #00514F;
    --accent-900: #002623;

    /* Neutral */
    --neutral-100: #FCFCFA;
    --neutral-200: #EEEDE8;
    --neutral-300: #DFDDD7;
    --neutral-400: #D0CEC7;
    --neutral-500: #C2BEB6;
    --neutral-600: #9B9790;
    --neutral-700: #74706B;
    --neutral-800: #4D4A46;
    --neutral-900: #262422;
    