
    /* Primary: Walk in the Park */
    --primary-100: #F7FFF2;
    --primary-200: #DAFEBD;
    --primary-300: #BEF785;
    --primary-400: #A1E44C;
    --primary-500: #7FBF19;
    --primary-600: #6A9908;
    --primary-700: #557302;
    --primary-800: #3D4D00;
    --primary-900: #212600;

    /* Accent: Sapphire Splendour */
    --accent-100: #F4F2FF;
    --accent-200: #C1BDFE;
    --accent-300: #8585F6;
    --accent-400: #4B54E0;
    --accent-500: #182AB5;
    --accent-600: #082091;
    --accent-700: #021B6E;
    --accent-800: #00164A;
    --accent-900: #000D26;

    /* Neutral */
    --neutral-100: #FBFCFA;
    --neutral-200: #E8EBE5;
    --neutral-300: #D6DAD1;
    --neutral-400: #C4C9BE;
    --neutral-500: #B3B8AB;
    --neutral-600: #909388;
    --neutral-700: #6C6F65;
    --neutral-800: #494B44;
    --neutral-900: #262622;
    